.button {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	border: none;
	border-radius: 8px;
	padding: 10px 16px;
	font-size: 1rem;
	color: #333;
}

.button-primary {
	color: white;
	background-color: #9b99dd;
}

.button-secondary {
	color: white;
	background-color: #4cb0ee;
}

.button-danger {
	color: white;
	background-color: #e28383;
}

.button-small {
	font-size: 12px;
	padding: 10px 16px;
}

.button-medium {
	font-size: 14px;
	padding: 11px 20px;
}

.button-large {
	font-size: 16px;
	padding: 12px 24px;
}
